##
# Code-owners configuration.
#
# GitHub is aware of this config file's location.
#
# @note CUSTOM EDITS ONLY PLEASE!
# @note In the future this file will be updated automatically.
# @note Only `<custom:start.../custom:end>` will be preserved below.
##

/.github/ @clevercanyon/owners
/dev/.files/ @clevercanyon/owners

#
##
# Customizations
# <custom:start>

# </custom:end>
