##
# Browserslist config file.
#
# Many packages are aware of this config file's location.
#
# @note CUSTOM EDITS ONLY PLEASE!
# @note In the future this file will be updated automatically.
# @note Only `<custom:start.../custom:end>` will be preserved below.
#
# Generated using <https://www.npmjs.com/package/browserslist-generator>.
#
#     const BLG = require("browserslist-generator")
#     console.log(BLG.browsersWithSupportForEcmaVersion('es2022').join('\n'));
#
# - Review BLG source: <https://o5p.me/4DC1Vq>.
# - Review browserlist report on production config: <https://o5p.me/Fvs3WP>.
# - Review our transpiler: <https://esbuild.github.io/content-types/#javascript>.
##

[production]
last 1 chrome versions
node >= 20.5.1
and_chr >= 92
chrome >= 92
and_ff >= 90
android >= 116
edge >= 92
samsung >= 16.0
safari >= 15.4
ios_saf >= 15.4
opera >= 78
firefox >= 90
not dead

[any]
last 1 chrome versions
node >= 20.5.1
and_chr >= 92
chrome >= 92
and_ff >= 90
android >= 116
edge >= 92
samsung >= 16.0
safari >= 15.4
ios_saf >= 15.4
opera >= 78
firefox >= 90
not dead

[cfp]
last 1 chrome versions
not dead

[cfw]
last 1 chrome versions
not dead

[node]
node >= 20.5.1
not dead

[web]
and_chr >= 92
chrome >= 92
and_ff >= 90
android >= 116
edge >= 92
samsung >= 16.0
safari >= 15.4
ios_saf >= 15.4
opera >= 78
firefox >= 90
not dead

[webw]
and_chr >= 92
chrome >= 92
and_ff >= 90
android >= 116
edge >= 92
samsung >= 16.0
safari >= 15.4
ios_saf >= 15.4
opera >= 78
firefox >= 90
not dead

##
# Customizations.
# <custom:start>

# </custom:end>
