##
# Git ignore file.
#
# Git is aware of this config file's location.
#
# @note CUSTOM EDITS ONLY PLEASE!
# @note In the future this file will be updated automatically.
# @note Only `<custom:start.../custom:end>` will be preserved below.
##

# Locals

._*
.~*
.#*
*.local

# Logs

*.log
*.logs

# Backups

*~
*.bak

# Patches

*.rej
*.orig
*.patch
*.diff

# Editors

# :: Vim

.*.swp

# :: IntelliJ

.idea

# :: Sublime

*.sublime-project
*.sublime-workspace

# :: Netbeans

*.nbproject

# :: VS Code

*.code-search
*.code-workspace

# :: CTAGs

*.ctags

# Dist

dist

# Packages

# :: Yarn

.yarn

# :: Vendor

vendor

# :: NodeJS

node_modules

# :: JSPM

jspm_packages

# :: Bower

bower_components

# Dotenv

.env*
.flaskenv*

!.env.vault
!.env.project

# TypeScript

.tscache
*.tsbuildinfo

# Vite

.vite
.vitest

# Wrangler

.wrangler
.dev.vars
.dev.vars.*

# Rollup

.rollup

# Webpack

.webpack

# Linaria

.linaria-cache

# SASS

.sass-cache

# Docker

.docker

# Vagrant

.vagrant

# Elastic Beanstalk

.elasticbeanstalk

# Version Control

# :: Git

.git

# :: Subversion

.svn
_svn
.svnignore

# :: Bazaar

.bzr
.bzrignore

# :: Mercurial

.hg
.hgignore

# Operating Systems

# :: Windows Files

Thumbs.db
ehthumbs.db
Desktop.ini

# :: Windows Directories

$RECYCLE.BIN

# :: MacOS Files

# ._* Already listed above.
Icon?
!Icons
*.icloud
.DS_Store
.disk_label
.LSOverride
.VolumeIcon.icns
.com.apple.timemachine.*

# :: MacOS Directories

.apdisk
*.icloud
.fseventsd
.AppleDB
.AppleDesktop
.AppleDouble
.Trashes
.TemporaryItems
.Spotlight-V100
.DocumentRevisions-V100
Network Trash Folder
Temporary Items

##
# Customizations.
#
# Please do not attempt to inject exceptions by customizing your project’s `./.gitignore` file
# in ways that loosen our standard defaults. We have tooling in place that will conflict with your efforts.
# For example, `vite-plugin-c10n-post-process` will automatically prune files from a resulting `./.dist`
# built with our tooling. The pruning that it does strictly adheres to our default `./.npmignore` rules,
# which utilizes `./.gitignore`, and intentionally does not factor in your customizations.
#
# <custom:start>

# </custom:end>
