##
# Git ignore file.
#
# Git is aware of this config file's location.
#
# @note CUSTOM EDITS ONLY PLEASE!
# @note In the future this file will be updated automatically.
# @note Only `<custom:start.../custom:end>` will be preserved below.
##

# Locals.

.#*
.~*
*.local

# Logs.

*.log
*.logs

# Backups.

*~
*.bak

# Patches.

*.rej
*.orig
*.patch
*.diff

# IntelliJ.

.idea

# Sublime.

*.sublime-project
*.sublime-workspace

# Netbeans.

*.nbproject

# VS Code.

*.code-search
*.code-workspace

# Dist (must exclude).
# May contain APP_ env vars.

dist

# Yarn.

.yarn

# Vendor.

vendor

# NodeJS.

node_modules

# JSPM.

jspm_packages

# Bower.

bower_components

# Dotenv.

.env*
.flaskenv*

!.env.vault
!.env.project

# TypeScript.

typings
.tscache
*.tsbuildinfo

# Vite.

.vite
.vitest

# Wrangler.

.wrangler
.dev.vars
.dev.vars.*

# Rollup.

.rollup

# Webpack.

.webpack

# Linaria.

.linaria-cache

# SASS.

.sass-cache

# Docker.

.docker

# Vagrant.

.vagrant

# Elastic Beanstalk.

.elasticbeanstalk

# CTAGs.

*.ctags
*.tags

# VCS.

.git

.svn
_svn
.svnignore

CVS
.cvsignore

.bzr
.bzrignore

.hg
.hgignore

SCCS
RCS

# PC files.

Thumbs.db
ehthumbs.db
Desktop.ini

# PC directories.

$RECYCLE.BIN

# Mac files.

._*
Icon?
!Icons
*.icloud
.DS_Store
.disk_label
.LSOverride
.VolumeIcon.icns
.com.apple.timemachine.*

# Mac directories.

.apdisk
*.icloud
.fseventsd
.AppleDB
.AppleDesktop
.AppleDouble
.Trashes
.TemporaryItems
.Spotlight-V100
.DocumentRevisions-V100
Network Trash Folder
Temporary Items

##
# Customizations.
# <custom:start>

# </custom:end>
