##
# Git attributes file.
#
# Git is aware of this config file's location.
#
# The generated portion of this file can be updated using:
#
#     $ madrun update gitattributes
#     or: $ madrun update dotfiles
#
# @note CUSTOM EDITS ONLY PLEASE!
# @note In the future this file will be updated automatically.
# @note Only `<custom:start.../custom:end>` will be preserved below.
##

##
# Generated data.
# <generated:start>

# Last generated Feb 25, 2024 6:56 AM UTC.

# Default

* text=auto eol=lf

# Text

*.txt text eol=lf
*.text text eol=lf

# Markdown

*.mdx text eol=lf
*.md text eol=lf
*.markdown text eol=lf
*.mdown text eol=lf
*.mdwn text eol=lf
*.mkd text eol=lf
*.mdtxt text eol=lf
*.mdtext text eol=lf

# Rich Text

*.rtx binary
*.rtf binary

# HTML

*.html text eol=lf
*.htm text eol=lf
*.shtml text eol=lf
*.shtm text eol=lf
*.xhtml text eol=lf
*.xhtm text eol=lf

# PDF

*.pdf binary

# PHP

*.php text eol=lf
*.phtml text eol=lf
*.phtm text eol=lf
*.phps text eol=lf

# ASP

*.asp text eol=lf
*.aspx text eol=lf

# Ruby

*.rb text eol=lf

# Python

*.py text eol=lf

# Perl

*.pl6 text eol=lf
*.perl6 text eol=lf
*.pl text eol=lf
*.plx text eol=lf
*.cgi text eol=lf
*.ppl text eol=lf
*.perl text eol=lf

# Shell

*.bash text eol=lf
*.zsh text eol=lf
*.sh text eol=lf

# C

*.c text eol=lf
*.cs text eol=lf
*.cpp text eol=lf
*.cc text eol=lf
*.o text eol=lf
*.h text eol=lf

# Docker

*.dockerfile text eol=lf

# JS Automation

*.jxa text eol=lf

# AppleScript

*.applescript text eol=lf
*.scpt binary
*.scptd binary

# Batch

*.bat text eol=lf

# JavaScript

*.wasm binary
*.js text eol=lf
*.mjs text eol=lf
*.cjs text eol=lf
*.jsx text eol=lf
*.mjsx text eol=lf
*.cjsx text eol=lf

# TypeScript

*.ts text eol=lf
*.mts text eol=lf
*.cts text eol=lf
*.tsx text eol=lf
*.mtsx text eol=lf
*.ctsx text eol=lf

# Style

*.css text eol=lf
*.scss text eol=lf
*.less text eol=lf
*.xsl text eol=lf
*.xslt text eol=lf

# Other Code

*.hta text eol=lf
*.htc text eol=lf
*.class binary

# EJS

*.ejs text eol=lf

# Liquid

*.liquid text eol=lf

# Other Template

*.tpl text eol=lf

# SQL

*.sql text eol=lf
*.sqlite text eol=lf

# Delimited

*.csv text eol=lf
*.tsv text eol=lf

# JSON

*.json text eol=lf
*.json5 text eol=lf
*.jsonld text eol=lf

# TOML

*.toml text eol=lf

# YAML

*.yaml text eol=lf
*.yml text eol=lf

# INI

*.ini text eol=lf

# Properties

*.env text eol=lf
*.props text eol=lf
*.properties text eol=lf

# Apache

*.conf text eol=lf
*.htaccess text eol=lf
*.htpasswd text eol=lf

# I18n

*.po text eol=lf
*.pot text eol=lf
*.mo binary

# XML

*.xml text eol=lf
*.xsd text eol=lf
*.dtd text eol=lf

# Calendar

*.ics text eol=lf

# Feed

*.atom text eol=lf
*.rdf text eol=lf
*.rss text eol=lf
*.rss2 text eol=lf
*.rss-http text eol=lf

# Log

*.log text eol=lf

# Other Data

*.asx binary
*.vtt text eol=lf
*.srt text eol=lf
*.dfxp text eol=lf
*.hex binary

# Other Config

*.babelrc text eol=lf
*.npmrc text eol=lf
*.yarnrc text eol=lf
*.inputrc text eol=lf
*.tsbuildinfo text eol=lf
*.editorconfig text eol=lf
*.shellcheckrc text eol=lf
*.browserslistrc text eol=lf
*.gitchange text eol=lf
*.gitconfig text eol=lf
*.gitattributes text eol=lf
*.gitignore text eol=lf
*.npmignore text eol=lf
*.dockerignore text eol=lf
*.vscodeignore text eol=lf
*.prettierignore text eol=lf
*.eslintignore text eol=lf

# Image

*.ai binary
*.bmp binary
*.eps binary
*.gif binary
*.heic binary
*.ico binary
*.jpg binary
*.jpeg binary
*.jpe binary
*.pict binary
*.png binary
*.apng binary
*.xcf binary
*.psd binary
*.pspimage binary
*.svg text eol=lf
*.svgz binary
*.tiff binary
*.tif binary
*.webp binary

# Audio

*.aac binary
*.flac binary
*.mid binary
*.midi binary
*.mka binary
*.mp3 binary
*.m4a binary
*.m4b binary
*.ogg binary
*.oga binary
*.pls binary
*.ra binary
*.ram binary
*.wav binary
*.wax binary
*.wma binary

# Video

*.asf binary
*.avi binary
*.divx binary
*.flv binary
*.mkv binary
*.mov binary
*.qt binary
*.mp4 binary
*.m4v binary
*.mpeg binary
*.mpg binary
*.mpe binary
*.ogv binary
*.webm binary
*.wm binary
*.wmv binary
*.wmx binary

# Font

*.otf binary
*.ttf binary
*.woff binary
*.woff2 binary
*.eot binary

# Archive

*.iso binary
*.dmg binary
*.tar binary
*.gtar binary
*.gz binary
*.tgz binary
*.gzip binary
*.rar binary
*.zip binary
*.7z binary
*.jar binary
*.node binary
*.phar binary

# Certificate

*.csr text eol=lf
*.crt text eol=lf
*.pem text eol=lf
*.asc text eol=lf

# Other Application

*.so binary
*.app binary
*.bin binary
*.com binary
*.dll binary
*.exe binary
*.blend binary
*.sketch binary

# Google

*.kml text eol=lf
*.kmz binary

# Adobe

*.ps binary
*.fla binary
*.swf binary

# Apple

*.key binary
*.numbers binary
*.pages binary

# MS Office

*.doc binary
*.docm binary
*.docx binary
*.dotm binary
*.dotx binary
*.mdb binary
*.mpp binary
*.one binary
*.onetoc binary
*.onetoc2 binary
*.onepkg binary
*.oxps binary
*.ppt binary
*.pps binary
*.potm binary
*.potx binary
*.ppam binary
*.ppsm binary
*.ppsx binary
*.pptm binary
*.pptx binary
*.sldm binary
*.sldx binary
*.wri binary
*.xla binary
*.xls binary
*.xlt binary
*.xlw binary
*.xlam binary
*.xlsb binary
*.xlsm binary
*.xlsx binary
*.xltm binary
*.xltx binary
*.xps binary

# OpenOffice

*.odb binary
*.odc binary
*.odf binary
*.odg binary
*.odp binary
*.ods binary
*.odt binary

# WordPerfect

*.wpd binary
*.wp binary

# Special Cases

*.env.* text eol=lf
CODEOWNERS text eol=lf
/src/cargo/_headers text eol=lf
/src/cargo/_redirects text eol=lf

##
# LFS storage rules.
##

lfs/** filter=lfs diff=lfs merge=lfs -text

# </generated:end>

##
# Customizations.
# <custom:start>

# </custom:end>
