##
# NPM config file.
#
# NPM is aware of this config file's location.
#
# @note CUSTOM EDITS ONLY PLEASE!
# @note In the future this file will be updated automatically.
# @note Only `<custom:start.../custom:end>` will be preserved below.
##

access=restricted
engine-strict=true

@clevercanyon:registry=https://npm.pkg.github.com
//registry.npmjs.org/:_authToken=${C10N_NPM_TOKEN}
//npm.pkg.github.com/:_authToken=${C10N_GITHUB_TOKEN}

##
# Customizations
# <custom:start>

# </custom:end>
