##
# NPM config file.
#
# NPM is aware of this config file's location.
#
# @note CUSTOM EDITS ONLY PLEASE!
# @note In the future this file will be updated automatically.
# @note Only `<custom:start.../custom:end>` will be preserved below.
##

always-auth=true
engine-strict=true
sign-git-tag=true
access=restricted

registry=https://registry.npmjs.org
@clevercanyon:registry=https://registry.npmjs.org
//registry.npmjs.org/:_authToken=${USER_NPM_TOKEN}

##
# Customizations.
# <custom:start>

# </custom:end>
