##
# Prettier ignore file.
#
# Prettier is aware of this config file's location.
#
# @note CUSTOM EDITS ONLY PLEASE!
# @note In the future this file will be updated automatically.
# @note Only `<custom:start.../custom:end>` will be preserved below.
##

# EJS files.

*.ejs

# MPA indexes contain EJS.

/src/**/index.html

##
# Customizations
# <custom:start>

# </custom:end>
