##
# Prettier ignore file.
#
# Prettier is aware of this config file's location.
#
# @note CUSTOM EDITS ONLY PLEASE!
# @note In the future this file will be updated automatically.
# @note Only `<custom:start.../custom:end>` will be preserved below.
##

# Dist.

dist

# Yarn.

.yarn

# Vendor.

vendor

# NodeJS.

node_modules

# JSPM.

jspm_packages

# Bower.

bower_components

# VCS.

.git

.svn
_svn
.svnignore

CVS
.cvsignore

.bzr
.bzrignore

.hg
.hgignore

SCCS
RCS

# `.npmrc` unsupported at this time.
# It's a properties file, but prettier chokes on `:` in auth tokens.

*.npmrc

# EJS unsupported at this time.
# @todo Build or find an EJS plugin.

*.ejs

##
# Customizations.
#
# Please do not attempt to inject exceptions by customizing your project’s `./.prettierignore` file
# in ways that loosen our standard defaults. Other (untested) factors may conflict with your efforts.
#
# <custom:start>

# </custom:end>
