##
# Shellcheck configuration.
#
# Shellcheck is aware of this config file's location.
#
# @note CUSTOM EDITS ONLY PLEASE!
# @note In the future this file will be updated automatically.
# @note Only `<custom:start.../custom:end>` will be preserved below.
##

disable=SC2016 # We use a lot of backticks.
disable=SC1003 # Don't offer this single-quote escape tip.
disable=SC2155 # Assignment with nested calls is OK.

##
# Customizations
# <custom:start>

# </custom:end>
